ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /

  hosts:
    - host: reactjs.local
      paths:
        - path: /
          pathType: Prefix
          service:
            name: reactjs-service
            port: 80

    - host: api.local
      paths:
        - path: /api/
          pathType: Prefix
          service:
            name: main-service
            port: 3000

  tls: []  # Add certs here if needed
